body
{
    font-family: Arial; background: #202020; 
}

.login-box
{
    margin: 100px auto;
    width: 300px;
    background: #363636;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input
{
    width: 90%;
    padding: 10px;
    margin: 5px;
    display: flex ;
    align-self: center;
}


button
{ 
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    background: #22ca1c;
    color: white;
    border: none;
    border-radius: 5px;
}

.error
{ 
    color: red;
}